<%- include('header')-%>

<div class="text-center center-div mt-5" id="login">
    <div class="container wt-25 border py-5 mt-5">
        <h3>Welcome to the Group3 Dashboard, <%=locals.user?user:"User"%></h3>
        <a href="http://localhost:4000/">logout</a>
        
    </div>

</div>

<%- include('footer')-%>