<%- include('header')-%>

<div class="text-center center-div" id="login">
  <div class="container w-25 border py-5" >
      <!-- Title -->
    <div class="title pb-5">
      <h2 class="font-weight-bold">Welcome to I-Fit💪</h2>
      <span>Existing user login</span>
    </div>

      <!-- Login form -->
    <form action="#" method="get">
      <!-- Email input -->
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="I-fit@gmail.com"/>
        <small class="form-text text-muted text-left">Register email address</small>
      </div>
      <!-- Password input -->
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="password"/>
      </div>
      <button type="submit" class="btn btn-success rounded-pill">Submit</button>
    </form>


    </div>
</div>
<%- include('footer')-%>
